# Compiled output
/dist
/build

# Node modules
/node_modules

# Log files
*.log

# Environment files
/src/environments/*.ts

# IDE/editor specific files
.idea/
.vscode/
*.swp

# OS-specific files
.DS_Store
Thumbs.db