# Compiled output
/dist
/build

#package.json
/package.json
/package-lock.json

# Log files
*.log

# Environment files
/src/environments/*.ts

# IDE/editor specific files
.idea/
.vscode/
*.swp

# OS-specific files
.DS_Store
Thumbs.db

#TypeScript Cache
*.tsbuildinfo

# Dependencies
/node_modules   




