.p-inputtext {  
    font-size: 12px !important;
    padding: 5px 10px !important;
    font-weight: 500 !important;
    border-radius: 4px !important;
    font-family: 'Poppins', sans-serif !important;
    /* border: 1px solid #babdc1 !important; */
   
}
::ng-deep p-dropdown.ng-touched.ng-invalid.ng-dirty .p-inputtext{
        border: 1px solid red;
}

.p-inputtext:enabled:focus {
    box-shadow: 0 0 0 0.1rem #1f293826 !important;
}

.p-float-label input:focus ~ label, .p-float-label input.p-filled ~ label, .p-float-label textarea:focus ~ label, .p-float-label textarea.p-filled ~ label, .p-float-label .p-inputwrapper-focus ~ label, .p-float-label .p-inputwrapper-filled ~ label {
    top: -0.15rem !important;
    background: #fff !important;
    padding: 2px 6px !important;
    font-size: 12px;
}


/* datepicker css */
.p-datepicker table {
    font-size: 12px !important;
    margin: 0.5rem 0;
}
.p-calendar {
    width: 100% !important;
}
.p-datepicker table td > span {
    width: 1.5rem  !important;
    height: 1.5rem !important;
}

/*  */
hr{
    border-style: dashed;
    border-color: #9c9797;
}
.header-text i,.header-text h6{
    color: #fff !important;
    font-size: 22px !important;
    font-weight: 600;
    vertical-align: top;
}
.p-inputgroup{
    height: 29px !important;
}
.p-inputgroup button{
    padding-left: 9px; 
    background: #2563eb !important;
    color: #ffffff !important;
    border-color: #2563eb !important; 
    font-size: 12px !important;
}
.p-inputnumber{
    width: 100% !important;
}