.p-checkbox .p-checkbox-box {
    background: #fff;
    border: 1px solid #babdc1;
    border-radius: 4px;
    color: #4b5563;
    height: 20px;
    transition: background-color .2s, color .2s, border-color .2s, box-shadow .2s;
    width: 20px;
}
.p-checkbox.p-highlight .p-checkbox-box {
    background: #8e724a;
    border-color: #8e724a;
}


/* braedcrum css */
.p-breadcrumb {
    background: transparent !important;
    border: 1px solid transparent !important;
    border-radius: 6px;
    padding: 1rem;
}
.p-breadcrumb .p-breadcrumb-list li .p-menuitem-link .p-menuitem-icon,
.p-breadcrumb .p-breadcrumb-list li:last-child .p-menuitem-text {
    color: #f6f9fc !important;
    font-size: .875rem !important;
    font-weight: 600;
}

/* tab css */

.p-tabview .p-tabview-nav li.p-highlight .p-tabview-nav-link {
   
    border-width: 0 0 2px 0 !important;
   
}
.p-tabview .p-tabview-nav li .p-tabview-nav-link {
    margin: 0 !important;
}
.p-tabview-nav-content {
    overflow-x: hidden !important;
    overflow-y: auto !important;
    width: 100%;
}
.p-tabview-nav {
    overflow-y: auto !important;
    width: 100% !important;
}