.p-radiobutton .p-radiobutton-box {
    width: 18px !important;
    height: 18px !important;
    margin-top: 2px !important;
}
.p-radiobutton .p-radiobutton-box .p-radiobutton-icon {
    width: 8px !important;
    height: 8px !important;
}
.p-radiobutton .p-radiobutton-box.p-highlight {
    border-color: #31499f !important;
    background: #31499f !important;
}
.p-disabled {
    background: #ced4dac2 !important;
}

.p-inputswitch {
    width: 48px !important;
    height: 22px !important;
}
.p-fieldset .p-fieldset-legend {
    padding: 5px 15px !important;
    margin-left: 16px !important;
    
}
.p-inputswitch .p-inputswitch-slider:before {
    width: 16px !important;
    height: 16px !important;
    margin-top: -8px !important;
    left: 8px !important;
}