.p-accordion .p-accordion-header .p-accordion-header-link {
    padding: 0.5rem 1.25rem !important;
}

/* dialog box css */

.p-dialog {
    position: fixed !important;
    top: 3%;
    background-color: white;
    z-index: 100000;
    height: auto !important;
    /* width: auto !important; */
}
.p-dialog .p-dialog-header .p-dialog-title {
    font-weight: 500 !important;
    font-size: 1rem !important;
}
.p-dialog .p-dialog-header {
    border-bottom: 1px solid #ddd !important;
    padding: 0.5rem 1rem !important;
}

.p-dialog-content {
    margin: 1rem;
    /* overflow-y: hidden !important; */
   
}
.p-dialog .p-dialog-header {
    /* border-bottom: 0 none !important; */
    background: #f9fafb !important;
    /* padding: 0 !important; */

}