.p-tabview .p-tabview-nav li .p-tabview-nav-link:not(.p-disabled):focus {
    outline: 0 none;
    outline-offset: 0;
    box-shadow: none !important;
}

/* card css */
.p-card {
    box-shadow: 0 0 2rem 0 rgb(136 152 170 / 38%) !important;
    border-radius: 0.375rem !important;
    border: 1px solid #d7cfcf;
    height: auto !important;
}
.p-card .p-card-title {
    font-size: 1rem !important;
    margin-bottom: 0rem !important;
    font-weight: 600 !important ;
    border-bottom: 1px solid #64748b2b;

}
.p-card .p-card-content {
    padding: 0.8rem 0 !important;
}
.icon-shape .pi{
    font-size: 26px !important;
}


/* .timeline-card .p-card-content{
    display: flex !important;

} */



/* timeline */
.p-timeline-left .p-timeline-event-opposite {
    text-align: right;
    display: none !important;
}