.imagelogo{
    /* background-image: url("../../../assets/Images/Common-Image/tsr_darashaw_logo.png"); */
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}
.imageaside{
    background-image: url("../../../assets/Images/Common-Image/login_bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    background-position: center center;
}
.imageasidelogo{
    background-image: url("../../../assets/Images/Common-Image/tsr_darashaw_logo.png");
    /* background-image: url("../../../assets/Images/Common-Image/tataplay_logo.png"); */
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    
}
.imageasideContainer{
    position: relative;
    top: 40%;
    background-color: #fffdfdc7;
}

.asideText{
    position: relative;
    text-align: center;
    top: 44%;
    color: #fff;
    letter-spacing: 0.15px;
    /* font-weight: 500; */
    font-size: 30px;
    text-wrap: wrap;
}

