<div class="flex min-h-full h-full flex-wrap justify-between bg-white ">
    <div class="w-2/5">
        <div class="mx-auto  imageaside"> </div>
    </div>
    <div class="w-3/5 px-6 py-12 lg:px-8 shadow-md">
      <div class="flex justify-center ">
        <div>
          <div class="sm:mx-auto sm:w-full sm:max-w-sm">

            <img class="mx-auto h-10 w-auto imagelogo" src="" >
            <h2 class="mt-8 text-2xl font-bold leading-9 tracking-tight text-gray-900 mb-4">Log in to access your account</h2>
        </div> 
        <div class="sm:mx-auto sm:w-full sm:max-w-sm">
            <form class="" action="" method="">
              <div>
                <p-floatLabel>
                  <input pInputText id="COMPANY_CODE" [(ngModel)]="COMPANY_CODE" />
                  <label for="COMPANY_CODE">Company Code</label> 
              </p-floatLabel>
              </div>
              <div class="mt-5">
                <p-floatLabel>
                  <input pInputText id="EMPLOYEE_CODE" [(ngModel)]="EMPLOYEE_CODE" />
                  <label for="EMPLOYEE_CODE">Employee Code</label>
              </p-floatLabel>
              </div>
              <div class="mt-3">
                <div class="flex items-center justify-end">
                  <div class="text-sm">
                    <a href="#" class="font-semibold text-blue-800 hover:text-blue-500">Forgot password?</a>
                  </div>
                </div>
                <div class="">
                  <p-floatLabel>
                    <input pInputText id="PASSWORD" [(ngModel)]="PASSWORD" />
                    <label for="PASSWORD">Password</label>
                </p-floatLabel>
                </div>
              </div>
              <div class="mt-5">
                  <div >
                    <p-floatLabel>
                      <input pInputText id="CAPTCHA" [(ngModel)]="CAPTCHA" />
                      <label for="CAPTCHA">Captcha</label>
                  </p-floatLabel>
                  </div>
                  <div>
                    <h5 class="mt-4 text-2xl font-bold leading-9 tracking-tight">2HM4TW <i class="pi pi-refresh text-2xl text-sky-900 font-bold ml-5 mt-1"></i></h5>
                  </div>
              </div>
              <div>
                <button type="submit" class="flex w-full justify-center rounded-md bg-blue-800 px-3 py-2.5 text-sm font-semibold
                 leading-6 text-white shadow-sm hover:bg-blue-800 focus-visible:outline 
                 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:text-sky-900">
                 <i class="pi pi-sign-in mr-2 mt-1"></i> Sign in</button>
              </div>
              <div>
                <label class="block text-sm font-medium leading-6 text-gray-900">Copyright © 2024 TSR Darashaw All Rights Reserved </label>
              </div>
            </form>
        </div>
        </div>
      </div>
    </div>
  </div>