<div  class="flex min-h-full h-full flex-wrap justify-between bg-white ">
    <div class="w-2/5">
        <div class="mx-auto  imageaside">
          <img  *ngIf="currentPage === 'user/login/axsis'" class="mx-auto h-fit w-64 imageasidelogo"
           [src]=SharedService.base64 alt="No image found">
           <img  *ngIf="currentPage === 'user/login/tataplay'" class="mx-auto h-fit w-64 imageasidelogo"
           [src]=SharedService.base642 alt="No image found">
          <!-- <div class="mx-auto h-8 w-full imageasidelogo"></div> -->
            <h3 class="asideText">Welcome to
              <b>TATA PLAY </b>Employee Self Service Portal
              </h3>
        </div>
        
    </div>
    <div class="w-3/5 px-6 py-12 lg:px-8 shadow-md">
        <div class="sm:mx-auto sm:w-full sm:max-w-sm">
            <img class="mx-auto h-10 w-auto imagelogo" src="" >
            <h2 class="mt-8 text-2xl font-normal leading-9 tracking-tight text-blue-800">Log in to access your account</h2>
        </div> 
        <div class="sm:mx-auto sm:w-full sm:max-w-sm">
            <form class="space-y-3" action="" method="">
              <div>
                <label for="" class="block text-sm font-medium leading-6 text-gray-900">Company Code</label>
                <div class="mt-2">
                  <input pInputText id="" name="" type="" autocomplete="" required >
                </div>
              </div>
              <div>
                  <label for="" class="block text-sm font-medium leading-6 text-gray-900">Employee Code</label>
                  <div class="mt-2">
                    <input pInputText id="" name="" type="" autocomplete="" required >
                  </div>
              </div>
              <div>
                <div class="flex items-center justify-between">
                  <label for="password" class="block text-sm font-medium leading-6 text-gray-900">Password</label>
                  <div class="text-sm">
                    <a (click)="forgetPasswordFun()" class="font-medium text-blue-800 hover:text-blue-800 cursor-pointer">Forgot password?</a>
                  </div>
                </div>
                <div class="mt-2">
                  <input pInputText id="password" name="password" type="password" autocomplete="current-password" required >
                </div>
              </div>
              <div>
                  <label for="" class="block text-sm font-medium leading-6 text-gray-900">Captcha</label>
                  <div class="mt-2">
                    <input pInputText id="" name="" type="" autocomplete="" required >
                  </div>
                  <div>
                    <h5 class="mt-3 text-2xl font-bold leading-10 tracking-wider ">2HM4TW <i class="pi pi-refresh text-2xl font-bold text-blue-800 mt-1"></i></h5>
                  </div>
              </div>
              <div>
                <button type="submit" class="loginButton flex w-full justify-center tracking-wide rounded-md bg-blue-800 px-3 py-2.5 text-sm font-semibold
                 leading-6 text-white shadow-sm hover:bg-blue-600 focus-visible:outline 
                 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-blue-800">
                 Sign in</button>
              </div>
              <div>
                <label class="block text-sm text-center font-medium leading-6 text-gray-900">Copyright © 2024 TSR Darashaw All Rights Reserved </label>
              </div>
            </form>
        </div>
    </div>
  </div>