<p-card >
    <div class="grid lg:grid-cols-1 md:grid-cols-4 lg:grid-cols-4 gap-4">
        <div>
            <label for="icondisplay" class="">Date</label>
            <p-calendar 
            [(ngModel)]="DATE" 
            [iconDisplay]="'input'" 
            [showIcon]="true" 
            class="w-full"
            inputId="icondisplay" />
        </div>
        <div>
            <label class="">Client Name</label>
            <input type="text" pInputText [(ngModel)]="CLIENT_NAME" />
        </div>
        <div>
            <label class="">City</label>
            <p-dropdown 
            [options]="cities" 
            [(ngModel)]="SELECTEDCITY" 
            optionLabel="name"
            [filter]="true"
            filterBy="name" 
            [showClear]="true"
            placeholder="Select a City" />
        </div>
        <div>
            <label class="">City</label>
            <p-multiSelect 
            [options]="cities" 
            [(ngModel)]="SELECTEDCITY" 
            optionLabel="name" 
            placeholder="Select Cities" />
        </div>
        <div class="col-span-2">
            <label class="">Choose</label>
            <div class="flex flex-wrap gap-3">
                <div class="flex align-items-center">
                    <p-radioButton 
                        name="pizza" 
                        value="Cheese" 
                        [(ngModel)]="ingredient" 
                        inputId="ingredient1" />
                    <label for="ingredient1" class="ml-2">
                        Cheese
                    </label>
                </div>
                
                <div class="flex align-items-center">
                    <p-radioButton 
                        name="pizza" 
                        value="Mushroom" 
                        [(ngModel)]="ingredient" 
                        inputId="ingredient2" />
                    <label for="ingredient2" class="ml-2">
                        Mushroom
                    </label>
                </div>
                
                <div class="flex align-items-center">
                    <p-radioButton 
                        name="pizza" 
                        value="Pepper" 
                        [(ngModel)]="ingredient" 
                        inputId="ingredient3" />
                    <label for="ingredient3" class="ml-2">
                        Pepper
                    </label>
                </div>
            
                <div class="flex align-items-center">
                    <p-radioButton 
                        name="pizza" 
                        value="Onion" 
                        [(ngModel)]="ingredient" 
                        inputId="ingredient4" />
                    <label for="ingredient4" class="ml-2">
                        Onion
                    </label>
                </div>
            </div>
        </div>
        <div class="col-span-2">
            <label class="">Choose</label>
            <div class="flex flex-wrap gap-3">
                <div class="flex align-items-center">
                    <p-checkbox 
                        [(ngModel)]="pizza"
                        label="Cheese" 
                        name="pizza" 
                        value="Cheese" />
                </div>
                <div class="flex align-items-center">
                    <p-checkbox 
                        [(ngModel)]="pizza"
                        label="Mushroom"
                        name="pizza" 
                        value="Mushroom" />
                </div>
                <div class="flex align-items-center">
                    <p-checkbox 
                        [(ngModel)]="pizza"
                        label="Pepper" 
                        name="pizza" 
                        value="Pepper" />
                </div>
                <div class="flex align-items-center">
                    <p-checkbox 
                        [(ngModel)]="pizza"
                        label="Onion" 
                        name="pizza" 
                        value="Onion" />
                </div>
            </div>
        </div >
    </div>
    <div>
        <p-button label="Submit" class="p-submit" />
        <p-button label="Cancel" class="p-cancel"/>
    </div>
</p-card>
